name: Reusable deploy

on: 
  workflow_call:
    inputs:
      artifact-name:
        description: Name of the deployable artifact files
        type: string
        required: false
        default: dist-files


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get build artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact-name }}
      - name: Output contents
        run: ls
      - name: Deploy
        run: echo "Deploying..."