name: Script Injection demonstration

on:
  # issues:
  #   types:
  #     - opened
  workflow_dispatch:

jobs:
  assign-label-injection-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Assign label # Whole text block runs in bash, that's why vulnerable
        run: |
          title="${{ github.event.issue.title  }}"
          if [[ "$title" == *"bug"* ]]; then
          echo "Issue is about a bug!"
          else
          echo "Issue is not about a bug"
          fi
  assign-label-fix:
    runs-on: ubuntu-latest
    steps:
      - name: Assign label
        env:
          title: ${{ github.event.issue.title }}
        run: |
          if [[ "$title" == *"bug"* ]]; then
          echo "Issue is about a bug!"
          else
          echo "Issue is not about a bug"
          fi